@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white; text-align: center;">
    <h2>Insurance Management System</h2>
</div>

<div class="row" style="background-color: white; border-radius: 5px; width: 80%; margin-left: auto; margin-right: auto; padding-bottom: 50px;">
    <h3 style="margin-left: auto; margin-right: auto; text-align: center">Quick menu</h3>
    <div class="col-md-4" style="text-align: center">
        <p><a class="btn btn-primary" href="/NewInsurance">New Insurance &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p><a class="btn btn-primary" onclick="ClearTheBase()">Clear the base &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Drop the base &raquo;</a></p>
    </div>
</div>
<script>
    function ClearTheBase() {
        return confirm("Are you sure?");
    }
</script>